.chat-main
  .chat-main__group-info
    .group-name
      test
      %ul.member-name
        Member :
        %li.member-list
          d
    = link_to "#", class: "chat-main__edit" do     
      .group-edit
        Edit
    
  .chat-main__messages-list 
    .messages-user-date 
      .messages__user-name
        masa 
      .messages-date 
        2020/05/13
    .messages-content
      おはよう！

    .messages-user-date 
      .messages__user-name
        masa 
      .messages-date 
        2020/05/13
    .messages-content
      おはよう！  
    
    
  .chat-main__messages-form
    %form.messages-form
      .input-box
        %input{type: "text", placeholder: "type a message", class: "type"}
        %label{class: "input-box__image"}
          = icon('fas', 'image', class: "image")
          %input{type: "file", class: "file"}
        %input{type: "submit", value: "Send", class: "submit"}
    
