.message{data: {message: {id: message.id}}}
  .messages-user-date 
    .messages__user-name
      = message.user.name
    .messages-date 
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .messages-content
    - if message.content.present?
      %p.messages-content__content
        = message.content
    = image_tag message.image.url, class: 'messages-content__image' if message.image.present?